@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {

    /* Scrollbadr for Chrome, Sefari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    /* Scrollbadr for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none;
        /* IE and Edge */
        scrollbar-width: none;
        /* Firefox */
    }
}